#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
}

option {
  color: black !important;
}



input:focus {
  box-shadow: none; /* Change the color and dimensions as needed */
  outline: none;
  background-color: none;
}
/* Custom styling for number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* Remove default margin */
}

/* Optional: Style the number input to your preference */
input[type="number"] {
  padding-right: 30px; /* Adjust as needed to leave space for the arrow */
}


.backgrounds {
  width: 100vw;
  /* height: 100vh; */
  background-color: #0a0e21;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

a,a:hover {
  color: inherit;
  text-decoration: none;
}
